[Unit]
Description=Publishing Service - Sends The Servers Public Key
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /root/servicefiles/signer/service/publish.py

[Install]
WantedBy=multi-user.target
