[Unit]
Description=Publishing Service - Sends The Servers Public Key
After=multi-user.target
StartLimitIntervalSec=5

[Service]
Type=simple
Restart=always
Environment=PUBLIC_KEY=/usr/local/etc/service/public_key_file
ExecStart=/usr/bin/python3 /usr/local/etc/service/publish.py

[Install]
WantedBy=multi-user.target
