[Unit]
Description=Publishing Service - Sends The Servers Public Key
After=network.target
StartLimitIntervalSec=30

[Service]
Type=simple
User=homer
Group=users
Restart=on-failure
Environment=PUBLIC_KEY=/usr/local/etc/public_key_file
ExecStart=/usr/bin/python3 /usr/local/etc/service/publish.py

[Install]
WantedBy=multi-user.target
