[Unit]
Description=Signature Service - Signing With Servers Private Key
After=network.target
StartLimitIntervalSec=30

[Service]
Type=simple
Restart=on-failure
Environment=PYTHONPATH=/usr/local/etc/service
Environment=PRIVATE_KEY=/usr/local/etc/private_key_file
ExecStart=/usr/bin/python3 /usr/local/etc/service/signer.py

[Install]
WantedBy=multi-user.target
